* {
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
    font-weight: 600;
}

body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(8, 223, 160, 1) 0%, rgba(0, 176, 255, 1) 100%);
}

.submit {
    border-radius: 15px;
    width: 110px;
    height: 50px;
}

.input {
    border-radius: 8px;
}